* {
    font-family: 'Roboto', sans-serif;
}

h3, h4 {
    margin-left: 20px;
    margin-bottom: 0px;
}

h5{
    font-size: 20px;
}


/* styling basic components */

.icon {
    fill: white;
    height: 30px
}
.icon:hover {
    color:tomato;
    transform: scale(1.2);
    transition-duration: .5s;
}

.header-container {
    display: flex;
    margin: 20px;
}

.container-item {

}

.header-lastitem{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.vl {
    border-left: 1px solid white;
    height: 40px;
}



.member-profile{
    border-radius: 50%;
    max-height: 40px;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.link-container {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}

.link-container a:hover {
    background-color: rgb(140, 175, 140);
    color: white;
    border-radius: 10px;
    transform: scale(1.2);
    transition-duration: .5s;
}

.socialstats-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.widget-container {
    display: flex;
   justify-content: center;
}
.form-field,
.form-area,
 .button-primary {
    margin-left: 30px;
    margin-right: 30px;
    width: 50%;
}
.bar-column {
    float: left;
  }
  .bar-row {
      width: 300px;
  }



  /* 
  Traffic and links  
  */


  .Traffic-container{
      display: flex;
      justify-content: flex-start;
      margin-left: 20px;
      margin-top: 20px;
  }
  .traffic-item1 {
    margin-left: auto;
    margin-right: 20px;
}







/* Widget styiling */

.widget-line{
    display: flex;
    align-items: center;
    margin: 50px;
}
.widget-bar{
    display: flex;
    align-items: center;
    margin: 50px;
    width: 80%;
    height: 80% ;
}
.widget-circle{
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-left: 50px;
    width: 60%;
    height: 50%;
}


/* social stats */


.social-container {
    display: flex;
    justify-content: space-around;
    align-item: center;
}
.social-item {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    padding: 10px;
    margin: 20px;
    margin-top: none;
}
.subtitle {
    margin-left: 2px;
    color: #7477bf ;
}
.numbers {
    font-size: 25px;
}
p {
    margin: 0px;
    padding: 0;
}
.social-icons {
    fill: white;
    height: 50px;
    border-radius: 50px;
    background-color: #7477bf;
    margin: 10px;
    padding: 10px;
}













/* NEW MEMBERS */

.list-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    margin-top: 50px;
    gap: 50px;
}

.list-item{
    margin-bottom: 40px;
}

.solid {
        border-top: 1px solid rgb(161, 160, 160);
        width: 90%;
      }
 .list-item{
    list-style: none;
    padding: 0px;
    margin: 0px
 }     
 
  
  
.members-flex {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
}
.members-test1 {
    width: 10%;
}
.members-test2 {
    width: 70%;
}
.members-test3 {
}

.bla {
    margin-bottom: 50px;
}



/* 
Recent Activity 
*/

.activity-flex {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
}
.activity-test1 {
    width: 10%;
}
.activity-test2 {
    width: 80%;
}
.activity-test3 {
}

.bla {
    margin-bottom: 50px;
}

















/* 
Form
 */

 .widget-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .form-field {
    margin-top: 20px;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    text-align: start;
    color: rgb(150, 143, 143);  
}
.form-area {
    width: 90%;
    height: 160px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
}
.button-primary {
    width: 90%;
    height: 80px;
    border-radius: 5px; 
    background-color: rgb(127, 122, 192);
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 20px;
}



/* 
Settings
 */

 .settings-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.settings-column {
    float: left;
    width: 40%;
  }
  .settings-row {
      width: 300px;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  /* Clear floats after the columns */
  .settings-row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* toggle button */

  input[type="checkbox"].toggle {
    opacity: 0;
    left: -9000px;
    top: -9000px;
}

input[type="checkbox"].toggle + label {
   position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
   display: flex;
   justify-content: start;
   align-items: center;
    content: "ON";
    width: 4em;
    height: 2em;
    font-size: 1em;
    background-color: rgb(127, 122, 192);
    border-radius: 1em;
    color: white;
    margin-right: .25em;
    transition: 200ms ease-in-out;

}

input[type="checkbox"].toggle + label::after {
   position: absolute;
    right: 2.3em;
    content: "";
    width: 1.9em;
    height: 1.9em;
    background-color: rgb(221, 221, 221);
    border-radius: 1em;
    transition: 200ms ease-in-out;
}
input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(100%);
    background-color: rgb(221, 221, 221);
}

/* 
Settings buttons 
*/


.settingbuttons-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.settings-save {
    margin-top: 20px;
    width: 43%;
    height: 50px;
    background-color: #7477bf ;
    color: white;
    border-radius: 5px;

}

.settings-cancel {
    margin-top: 20px;
    width: 43%;
    height: 50px;
    background-color: lightgray ;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px ;

}



















/* Tab styling */

 /* Style the tab */
 .tab {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #f1f1f1;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: flex;
    padding: 6px 12px;
    border: none
    border-top: none;
  } 

  .alert {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #7477bf;
    color: white;
    border-radius: 4px;
  }
  
  .alert span {
    padding: 16px;
  }
  
  .alert button {
    margin-right: 20px;
    height: 24px;
    width: 24px;
  }


































/* Layout and media queries */


.grid-container {
    display: grid;
    grid-template-columns: 80px auto;
    grid-auto-rows: minmax(100px, auto);
}

.grid-item1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #7477bf;
    color: white;
}
.grid-item2{
    grid-row-start: 2;
    grid-row-end: 10;
    background-color: #4d4c72
}
.grid-item3{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: white;
}
.grid-item4 {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
}
/* .grid-item5{
    background-color: rgb(191, 179, 245);
    grid-column-start: 3;
    grid-column-end: 4;
} */

.grid-item6{
    background-color: white(238, 227, 131);
    grid-column-start: 2;
    grid-column-end: 4;
}
.grid-item7{
    background-color: white(131, 213, 238);
    grid-column-start: 2;
    grid-column-end:3;
    border: 1px solid grey;
    border-left: none;

}
.grid-item8{
    background-color: white(131, 213, 238);
    grid-column-start: 3;
    grid-column-end:4;
    border: 1px solid grey;
    border-right: none;
    border-left: none;

}
.grid-item9{
    background-color: white(131, 133, 238);
    grid-column-start: 2;
    grid-column-end:4;
}
.grid-item10{
    background-color: white(131, 213, 238);
    grid-column-start: 2;
    grid-column-end:3;
}
.grid-item11{
    background-color: white(131, 213, 238);
    grid-column-start: 3;
    grid-column-end:4;
}
.grid-item12{
    background-color: v(131, 213, 238);
    grid-column-start: 2;
    grid-column-end:3;
}
.grid-item13{
    background-color: white(131, 213, 238);
    grid-column-start: 3;
    grid-column-end:4;
}


@media only screen and (max-width: 768px) {

    .grid-item2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .grid-item3{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .navigation-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .grid-item4 {
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    /* .grid-item5{
        background-color: rgb(191, 179, 245);
        grid-column-start: 1;
        grid-column-end: 4;
    } */
    
    .grid-item6{
        background-color: white(238, 227, 131);
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .grid-item7{
        background-color: white(131, 213, 238);
        grid-column-start: 1;
        grid-column-end: 4;
        border-left: none;
        border-right: none;
    }
    .grid-item8{
        background-color: white(131, 213, 238);
        grid-column-start: 1;
        grid-column-end: 4;
        border-left: none;
        border-right: none;
    }
    .grid-item9{
        background-color: white(131, 133, 238);
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .grid-item10{
        background-color: white(131, 213, 238);
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .grid-item11{
        background-color: white(131, 213, 238);
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .grid-item12{
        background-color: white(131, 213, 238);
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .grid-item13{
        background-color: white(131, 213, 238);
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .social-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .social-item {
        display: flex;
        justify-content: center;
    }

    .social-item1 {
    }

}






